* {
    font-size: 14px;

}

.background {
    background-color: #28bdbf;
}

.line i {
    padding-right: 10px;
}

.edit-info {
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_title p {
    padding-left: 50px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon_fa i {
    padding-top: 12px;
    padding-bottom: 10px;
}

.line a {
    color: #ff3232;
    text-decoration: none;
}

.menu {

    justify-content: right;

}

.menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 700;
    padding: 8px 40px;
}

.navbar-header {
    padding-left: 100px;
    margin-right: 80px;
}

.menu a.active {
    border: 3px solid #4bfbfe;
    border-radius: 25px;
}

.menu_sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.hero-title,
.hero-title span {
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: uppercase;
}

.hero-title span {
    color: #4bfbfe;
}

.hero-sub-title {
    color: #ffffff;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(71, 71, 71, 0.6);
}

.hero-content p {
    font-size: 16px;
    color: white;
}

.hero-single {
    background-image: url(/images/anh-bia-04.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.hero-single::before {
    content: "";
    position: absolute;
    background-color: #01060f;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

.hero-content {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.theme-btn:hover {
    background-color: #28bdbf;
    transition: all 0.5s ease-in-out;
}

.about-img img {
    width: 576px;
    height: 453px;
}

.about-img {
    z-index: -1;
}

.about-experience {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0px;
    left: 0px;
    background-color: #111111;
    border-radius: 35px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
    z-index: 1;
}

.about-left {
    position: relative;
}

.about-experience-icon img {
    width: 50px;
    filter: brightness(0) invert(1);
}

.about-experience-icon {
    background-color: #4bfbfe;
    border-radius: 35px;
    padding: 10px
}

.about-area {
    padding: 50px 0px;
}

.area-about-index {
    background-color: #f9fafb;
    ;

    border-color: hsl(var(--border));
    box-sizing: border-box;
    /* border: 1px solid #131314; */
    border-radius: 24px;
}

.about-box {
    background-color: #ffffff;
    padding-top: 40px;
}

.site-title-tagline {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 700;
    color: #ffc105;
    position: relative;
}

/* .site-title-tagline::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #28bdbf;
    bottom: 0;
    opacity: 0.2;
} */
.site-sub-title span {
    color: #00d1d5;
    font-size: 36px;
}

.site-sub-title {
    font-weight: 900;
}

.site-content {
    font-size: 18px;
}

.about-list i {
    color: #28bdbf;
    padding-right: 10px;
}

.about-list li {
    list-style: none;
    font-size: 17px;
    padding: 3px 0;
}

.theme-btn-click a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    padding: 10px 30px;
    border-radius: 25px;
}

.theme-btn-click a:hover {
    background-color: #4bfbfe;
    color: white;
    transition: all 0.5s ease-in;
}

.service-title {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 800;
    color: #ffc105;
    position: relative;
}

.service-sub-title {
    text-transform: capitalize;
    font-weight: 700;
}

.heading-driver {
    position: relative;
    border: 3px solid #28bdbf;
    width: 90px;
    height: 11px;
    border-radius: 40px;
}

.heading-driver::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 15px;
    background-color: #28bdbf;
    border-radius: 50px;
    left: 0;
    top: -1;
    animation: heading 4s infinite linear;
}

@keyframes heading {
    0% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(72px)
    }

    100% {
        transform: translateX(-1px);
    }
}

.service-block .inner-box {
    overflow: hidden;
    padding-bottom: 55px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}

.service-block .inner-box::before {
    background-color: #f7f6f2;
    bottom: 0;
    content: "";
    height: 381px;
    left: 80px;
    position: absolute;
    transform: skewX(-20deg);
    width: 200px;
    z-index: -1;
}

.service-block .inner-box .image-box {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 14px;
    position: relative;
}

.service-block .inner-box .image-box:before {
    border: 2px solid #4bfbfe;
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.image-box img {
    width: 315px;
    height: 315px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease;
    z-index: 3;
}

.service-block .inner-box,
.image-box img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.image-box:hover {
    background-color: #4bfbfe;
    transition: all 0.3s ease;
}

.inner-box:before:hover {
    background-color: #ffee02;
    opacity: 0.2;
    transition: all 0.3s ease;
}

.content h4 {
    font-size: 25px;
    font-weight: 700;
}

.text {

    font-size: 20px;
    width: 80%;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
}

.taxi-image img {
    border-radius: 25px;
}

.taxi-scope {
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.taxi-image {
    padding: 20px;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.taxi-image img {
    width: 100%;
}

.taxi-head h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.taxi-feature li {
    list-style: none;
    padding: 5px 0;
}

.taxi-feature ul {
    padding: 0;
}

.taxi-feature::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #28bdbf;
    border-radius: 50px;
    left: 50%;
    top: -4px;
    transform: translateX(-50%);
}

.taxi-feature {
    padding-top: 20px;
    margin: 20px 0 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.text-sub-title,
.text-head h4,
.text-content {
    font-size: 16px;
}

.btn-click-booking {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #3cf4f6;
    padding: 15px 25px;
    border-radius: 25px;
}

.btn-click-booking:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in;
}

.text-sub-title i {
    padding-right: 5px;
    color: #28bdbf;
}

.table-price {
    max-width: 1100px;
}

td {
    color: #666;
}

th,
td {
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    line-height: 1.3;
    font-size: 16px;
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
}

.box-table {
    background-color: #10fcff;
}

.box-table td {
    color: black;
    font-weight: bold;
}

.note-list {
    font-size: 16px;
}

.feedback-customer {
    background-image: url(../images/background-customer-feedback.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-attachment: fixed;
}

.feedback-block {
    padding: 90px 0;
}

.feedback-customer::before {
    content: "";
    position: absolute;
    background-color: #01060f;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.feed-box {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    position: relative;
}

.feed-box::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 10px;
    top: 10px;
    border: 3px solid #28bdbf;
    border-left: none;
    border-bottom: none;
    border-radius: 0 20px 0 0;
}

/* .feed-box::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 10px;
    bottom: 10px;
    border: 3px solid #28bdbf;
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 20px;
    transition: all 0.5s ease-in-out;
} */
.customer img {
    border-radius: 50%;
    margin-right: 20px;
}

.content-customer {
    padding: 10px 0;
}

.testimonial-rate i {
    color: #28bdbf;
}

.name-customer p {
    font-size: 16px;
    color: #28bdbf;
    font-weight: 700;
}

.name-customer h5 {
    font-weight: 700;
}

.content-customer p {
    font-size: 16px;
}

.post-meta {
    text-align: center;
    font-size: 16px;
    background-color: #00faff;
    padding: 10px 20px;
    clip-path: polygon(12% 0, 100% 0, 88% 100%, 0 100%);
}

.comment i {
    padding-right: 5px;
}

.comment p,
.post-meta p {
    font-size: 17px;
    font-weight: 600;
}

.comment {
    padding: 10px 20px;
}

.btn-new {
    text-decoration: none;
    color: black;
    background-color: #00faff;
    text-align: center;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 25px;
    font-size: 18px;
}

.btn-new:hover {
    color: white;
    background-color: #111111;
    transition: all 0.3s ease-in;
}

.title-blog {
    height: 100px;
    /* Điều chỉnh chiều cao theo nhu cầu */
    overflow: hidden;
    /* Ẩn phần văn bản tràn ra */
}

.footer_container {
    position: relative;
    /* Make the container a positioning context */
    background-image: url(/images/President_11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 40px 0px;
    text-align: center;
}

.footer_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01060f;
    opacity: 0.7;
    z-index: 0;
    /* Ensure the overlay stays below the content */
}

.footer_container * {
    position: relative;
    /* Ensure content stays above the overlay */
    z-index: 1;
}


.footer_link {
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer_link li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 16px;
}

.footer_link li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: rgb(255 255 255) !important;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.social_media li {
    display: inline-block;
    padding: 0px 13px;
}

.copyright {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: rgb(255 255 255);
    position: relative;
    margin-top: 30px;
}

.copyright::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    background-color: rgb(255 255 255);
    height: 1px;
    width: 50%;
}

.copyright a {
    color: rgb(255, 255, 255) !important;
}

.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.ds {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    /* Màu nền của thanh navbar */
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
}

.ds {
    position: relative;
    width: 100%;
    min-width: 150vh;
}
