* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;

}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Ngăn cuộn ngang */
    background-color:     #F8F8FF;
    z-index: -1000;


  }
.background {
    background-color: #28bdbf;
}

.line i {
    padding-right: 10px;
}

.edit-info {
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_title p {
    padding-left: 50px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon_fa i {
    padding-top: 12px;
    padding-bottom: 10px;
}

.line a {
    color: #ff3232;
    text-decoration: none;
}

.menu {

    justify-content: right;

}

.menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 700;
    padding: 8px 40px;
}

.navbar-header {
    padding-left: 100px;
    margin-right: 80px;
}

.menu a.active {
    border: 3px solid #4bfbfe;
    border-radius: 25px;
}

.menu_sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.hero-title,
.hero-title span {
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: uppercase;
}

.hero-title span {
    color: #4bfbfe;
}

.hero-sub-title {
    color: #ffffff;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(71, 71, 71, 0.6);
}

.hero-content p {
    color: white;
}

.hero-single {
    margin-top: 40px;
    background-image: url(/images/anh-bia-10.webp);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.hero-single::before {
    content: "";
    position: absolute;
    background-color: #01060f;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

.hero-content {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-btn {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 64, 0);
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 16px;
    color:white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.theme-btn:hover {
    background-color: #28bdbf;
    transition: all 0.5s ease-in-out;
}

.about-img img {
    border-radius: 50px;
    /* Thay đổi giá trị để điều chỉnh độ bo tròn */

    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}

.about-img {
    z-index: -1;
}

.about-experience {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0px;
    left: 0px;
    background-color: #111111;
    border-radius: 35px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
    z-index: 1;
}

.about-left {
    position: relative;
}

.about-experience-icon img {
    width: 50px;
    filter: brightness(0) invert(1);
}

.about-experience-icon {
    background-color: #4bfbfe;
    border-radius: 35px;
    padding: 10px
}

.about-area {
    padding: 50px 0px;
}

.area-about-index {
    background-color: #f9fafb;
    ;

    border-color: hsl(var(--border));
    box-sizing: border-box;
    /* border: 1px solid #131314; */
    border-radius: 24px;
}

.about-box {
    background-color: #F8F8FF;
    padding-top: 40px;
}

.site-title-tagline {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 700;
    color: #ffc105;
    position: relative;
}

/* .site-title-tagline::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #28bdbf;
    bottom: 0;
    opacity: 0.2;
} */
.site-sub-title span {
    color: #00d1d5;
    font-size: 36px;
}

.site-sub-title {
    font-weight: 900;
}

.site-content {
    font-size: 18px;
}

.about-list i {
    color: #28bdbf;
    padding-right: 10px;
}

.about-list li {
    list-style: none;
    font-size: 17px;
    padding: 3px 0;
}

.theme-btn-click a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    padding: 10px 30px;
    border-radius: 25px;
}

.theme-btn-click a:hover {
    background-color: #4bfbfe;
    color: white;
    transition: all 0.5s ease-in;
}

.service-title {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 800;
    color: #ffc105;
    position: relative;
}

.service-sub-title {
    text-transform: capitalize;
    font-weight: 700;
}

.heading-driver {
    position: relative;
    border: 3px solid #28bdbf;
    width: 90px;
    height: 11px;
    border-radius: 40px;
}

.heading-driver::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 15px;
    background-color: #28bdbf;
    border-radius: 50px;
    left: 0;
    top: -1;
    animation: heading 4s infinite linear;
}

@keyframes heading {
    0% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(72px)
    }

    100% {
        transform: translateX(-1px);
    }
}

.service-block .inner-box {
    overflow: hidden;
    padding-bottom: 55px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}

.service-block .inner-box::before {
    background-color: #f7f6f2;
    bottom: 0;
    content: "";
    height: 381px;
    left: 80px;
    position: absolute;
    transform: skewX(-20deg);
    width: 200px;
    z-index: -1;
}

.service-block .inner-box .image-box {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 14px;
    position: relative;
}

.service-block .inner-box .image-box:before {
    border: 2px solid #4bfbfe;
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.image-box img {
    width: 315px;
    height: 315px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease;
    z-index: 3;
}

.service-block .inner-box,
.image-box img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.image-box:hover {
    background-color: #4bfbfe;
    transition: all 0.3s ease;
}

.inner-box:before:hover {
    background-color: #ffee02;
    opacity: 0.2;
    transition: all 0.3s ease;
}

.content h4 {
    font-size: 25px;
 
    text-transform: uppercase;
    font-weight: 600;
}

.text {

    font-size: 20px;
    width: 80%;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
}

.taxi-image img {
    border-radius: 25px;
}

.taxi-scope {
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.taxi-image {
    padding: 20px;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.taxi-image img {
    width: 100%;
}

.taxi-head h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.taxi-feature li {
    list-style: none;
    padding: 5px 0;
}

.taxi-feature ul {
    padding: 0;
}

.taxi-feature::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #28bdbf;
    border-radius: 50px;
    left: 50%;
    top: -4px;
    transform: translateX(-50%);
}

.taxi-feature {
    padding-top: 20px;
    margin: 20px 0 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.text-sub-title,
.text-head h4,
.text-content {
    font-size: 16px;
}

.btn-click-booking {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #3cf4f6;
    padding: 15px 25px;
    border-radius: 25px;
}

.btn-click-booking:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in;
}

.text-sub-title i {
    padding-right: 5px;
    color: #28bdbf;
}

.table-price {
    max-width: 1100px;
}

td {
    color: #666;
}

th,
td {
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    line-height: 1.3;
    font-size: 19px;
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
}

.box-table {
    background-color: #10fcff;
}

.box-table td {
    color: black;
    font-weight: bold;
}

.note-list {
    font-size: 16px;
}

.feedback-customer {
    background-image: url(../images/background-customer-feedback.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-attachment: fixed;
}

.feedback-block {
    padding: 90px 0;
}

.feedback-customer::before {
    content: "";
    position: absolute;
    background-color: #01060f;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.feed-box {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    position: relative;
}

.feed-box::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 10px;
    top: 10px;
    border: 3px solid #28bdbf;
    border-left: none;
    border-bottom: none;
    border-radius: 0 20px 0 0;
}

/* .feed-box::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 10px;
    bottom: 10px;
    border: 3px solid #28bdbf;
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 20px;
    transition: all 0.5s ease-in-out;
} */
.customer img {
    border-radius: 50%;
    margin-right: 20px;
}

.content-customer {
    padding: 10px 0;
}

.testimonial-rate i {
    color: #28bdbf;
}

.name-customer p {
    font-size: 16px;
    color: #28bdbf;
    font-weight: 700;
}

.name-customer h5 {
    font-weight: 700;
}

.content-customer p {
    font-size: 16px;
}

.post-meta {
    text-align: center;
    font-size: 16px;
    background-color: #00faff;
    padding: 10px 20px;
    clip-path: polygon(12% 0, 100% 0, 88% 100%, 0 100%);
}

.comment i {
    padding-right: 5px;
}

.comment p,
.post-meta p {
    font-size: 17px;
    font-weight: 600;
}

.comment {
    padding: 10px 20px;
}

.btn-new {
    text-decoration: none;
    color: black;
    background-color: #00faff;
    text-align: center;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 25px;
    font-size: 18px;
}

.btn-new:hover {
    color: white;
    background-color: #111111;
    transition: all 0.3s ease-in;
}

.title-blog {
    height: 100px;
    /* Điều chỉnh chiều cao theo nhu cầu */
    overflow: hidden;
    /* Ẩn phần văn bản tràn ra */
}

.footer_container {
    position: relative;
    /* Make the container a positioning context */
    background-image: url(/images/President_11.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 40px 0px;
    text-align: center;
}

.footer_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01060f;
    opacity: 0.7;
    z-index: 0;
    /* Ensure the overlay stays below the content */
}

.footer_container * {
    position: relative;
    /* Ensure content stays above the overlay */
    z-index: 1;
}


.footer_link {
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer_link li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 16px;
}

.footer_link li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: rgb(255 255 255) !important;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.social_media li {
    display: inline-block;
    padding: 0px 13px;
}

.copyright {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: rgb(255 255 255);
    position: relative;
    margin-top: 30px;
}

.copyright::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    background-color: rgb(255 255 255);
    height: 1px;
    width: 50%;
}

.copyright a {
    color: rgb(255, 255, 255) !important;
}

.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.ds {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    /* Màu nền của thanh navbar */
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
}

.ds {
    position: relative;
    width: 100%;
    min-width: 150vh;
}

.menu-mobile {
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
    background-color: rgb(255 255 255);
    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 24%);
    z-index: 1000;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    animation: slideInMenu 0.5s ease forwards;
    /* Sử dụng hiệu ứng 'slideInMenu' trong 0.5s  forwards giữ lại kích thước của khối khi animation kết thúc    */
    transform: translateX(-100%);
    /* Dịch chuyển menu ra khỏi màn hình bên trái */
}

@keyframes slideInMenu {
    from {
        transform: translateX(-100%);
        /* Bắt đầu từ vị trí -100% (ngoài màn hình bên trái) */
    }

    to {
        transform: translateX(0);
        /* Kết thúc tại vị trí 0% (đầu trang) */
    }
}

.menu-mobile ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
}

.menu-mobile a {
    .sub_title p {
        padding-left: 100px;
    }

    .image-box img {
        width: 315px;
        height: 280px;
    }

    .service-block .inner-box::before {
        background-color: #f7f6f2;
        bottom: 0;
        content: "";
        height: 410px;
        left: 145px;
        position: absolute;
        transform: skewX(-17deg);
        width: 200px;
        z-index: -1;
    }
}
/* Responsive web */

/*  Tablet Devices (Từ 768px đến 1023px) */

@media screen and (min-width: 768px) {
    /* Chiều rộng màn hình từ 768px đến 1023px */
    .about-img img {
        width: 100%;
        height: 390px;
    }

    .boder-radius-boxservice {
        width: 50%;
    }

    .footer_link li {
        float: none;
        width: auto;
        padding: 0 16px;
    }

    .toggle_menu {
        display: none;
    }

    .navbar-nav {
        display: inline;
        display: flex;
        flex-direction: row;
    }

    .menu a {
        font-weight: 700;
        padding: 8px 25px;
    }

    .display-line {
        display: block;
    }

    .boder-radius-boxservice {
        width: 100%;
    }
}
/* Laptops (Từ 1024px đến 1279px) */
@media screen and (min-width: 1024px) {
    /* Chiều rộng màn hình từ 1024px đến 1279px */
    .navbar-header {
        padding: 0 0 0 80px;
     margin-right: 40%;
        }

    .boder-radius-boxservice {
        width: 70%;
    }

    .service-block .inner-box::before {
        background-color: #f7f6f2;
        bottom: 0;
        content: "";
        height: 410px;
        left: 52px;
        position: absolute;
        transform: skewX(-10deg);
        width: 200px;
        z-index: -1;
    }

    .taxi-scope {

        padding-bottom: 40px;
        
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    }

    .customer img {
        width: 100%;
    }
}
/*  Laptop/ Desktop with High Resolution (Từ 1280px đến 1423px) */
@media screen and (min-width: 1280px) and (max-width: 1430px) {
    /* Chiều rộng màn hình từ 1280px đến 1430px */
    .image-box img {
        width: 100%;
        height: 500px;
    }

    .boder-radius-boxservice {
        width: 70%;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--bs-gutter-x) var(--bs-gutter-y);
    }
}
/* Large Desktops (Từ 1430px trở lên) */

@media screen and (min-width: 1430px) {
    /* Chiều rộng màn hình từ 1430px trở lên */
    .taxi-scope {
        padding: 25px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    }

    .image-box img {
        width: 340px;
    }

    .image-box img {
        height: 314px;
    }
    

    .edit-distance {
        padding: 0;
    }

    .boder-radius-boxservice {
        margin-right: 0px;
        width: 32%;
        TEXT-ALIGN: CENTER;
    }
}
/*  Medium-Large Screens (Từ 1423px đến 1430px) */
@media screen and (min-width: 1423px) {
    /* Chiều rộng màn hình từ 1423px đến 1430px */
    .images-blog img {
        height: 200px;
    }

    .navbar-header {
        padding-left: 117px;
        margin-right: 180px;
    }

    .service-block .inner-box::before {
        background-color: #f7f6f2;
        bottom: 0;
        content: "";
        height: 410px;
        left: 100px;
        position: absolute;
        transform: skewX(-20deg);
        width: 200px;
        z-index: -1;
    }

    .sub_title p {
        padding-left: 10px;
    }

    .about-img img {
        width: 576px;
        height: 453px;
    }
}

/*End Responsive web */
.boder-radius-boxservice {
    background-color: rgb(186, 249, 250);
    border: 0px solid;
    /* padding-right: 20px; */
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 14px;
    /* width: 30.33333333%; */
}

.row {

    margin: 0px;

    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
  
}

.menu-mobile .toggle_menu {
    position: absolute;
    top: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav.hide {
    display: none;
}

.toggle_menu {
    display: none;
}

.menu-mobile p {
    border-bottom: 1px solid black;
    color: black;
    font-weight: 600;
}

.menu-mobile a {
    border-bottom: 1px solid rgb(203, 202, 202);
    color: black;
}

.menu-mobile p {
    padding: 15px 0;
    margin: 0;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 10000;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.mobile-menu .close-menu {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Toggle Button for Mobile */
.toggle_menu {
    display: none;
}


/* Mobile-specific styles */
@media (max-width: 768px) {
    .navbar-header {
        padding-left: 0px; 
        margin-right: 0px; 
    }
    .hero-single {
        margin-top: 0px;
    
    }
    .menu {
        display: none;
        /* Hide the main menu on mobile */
    }

    .toggle_menu {

        margin-right: 20px;

        display: block;
        cursor: pointer;
    }

    /* Make menu visible when toggled */
    .mobile-menu-overlay {
        display: block;
    }
}


/*  */

/*  */

/* Mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: 0 1px 5px rgba(83, 83, 83, 0.2);
    z-index: 1000;
    transform: translateX(-100%);
    /* Menu hidden initially */
    transition: transform 0.3s ease-in-out;
    /* Smooth slide-in transition */
}

.mobile-menu.opened {
    transform: translateX(0);
    /* Menu will slide in */
}

.mobile-menu ul {
    padding: 0;
    list-style-type: none;
}

.mobile-menu ul li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.mobile-menu ul li a {
    color: #173966;
    font-size: 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: color 0.3s ease;
}

.mobile-menu ul li a:hover {
    color: #10bd3b;
}

/* Close button */
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close-menu i {
    color: #173966;
}

/* Custom overlay (background dim when menu opens) */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Responsiveness: Open side menu */
@media screen and (max-width: 768px) {
    .side-menu-wrap {
        width: 100%;
    }

    .mobile-menu.opened {
        transform: translateX(0);
    }

    .side-menu-close {
        top: 20px;
        left: 20px;
    }

    .custom-overlay.show {
        visibility: visible;
        opacity: 1;
    }
}
/* Mobile-specific styles */
@media (max-width: 480px) {
    .about-experience b{
        font-size: 8px;
        font-weight: bolder;
    }
    .about-experience b{
        font-size: 10px; /* Giảm kích thước tiêu đề */

    }
    .hero-title span  {
        color: #ffeb3b;
        font-size: 30px;
    }
    .site-sub-title span {
        color: #00d1d5;
        font-size: 28px;
    
    }
    .location-text-1phut {
        font-size: 28px;
    }
    .hero-single {
        margin-top: -50px;
        height: 680px;
    }
    .image-box img {
        width: 200px;
        height: 200px;
    
    }
    .row {
        padding:0;
    }
    .navbar-header {
        padding-left: 0px; 
        margin-right: 0px; 
    }
 
    .menu {
        display: none;
        /* Hide the main menu on mobile */
    }
   

    .toggle_menu {

        margin-right: 20px;

        display: block;
        cursor: pointer;
    }

    /* Make menu visible when toggled */
    .mobile-menu-overlay {
        display: block;
    }
}

/*  */
/* Nút Zalo */
/* Hiệu ứng sóng hover cho từng nút */
/* Nút Facebook (Màu vàng) */
@keyframes hoverWaveFacebook {
    0% {
        box-shadow: 0 8px 10px rgba(52, 183, 241, 0.3), 0 0 0 0 rgba(52, 183, 241, 0.2);
    }

    40% {
        box-shadow: 0 8px 10px rgba(52, 183, 241, 0.3), 0 0 0 15px rgba(52, 183, 241, 0.2);
    }

    80% {
        box-shadow: 0 8px 10px rgba(52, 183, 241, 0.3), 0 0 0 30px rgba(52, 183, 241, 0), 0 0 0 26.7px rgba(52, 183, 241, 0.067);
    }

    100% {
        box-shadow: 0 8px 10px rgba(52, 183, 241, 0.3), 0 0 0 30px rgba(52, 183, 241, 0), 0 0 0 40px rgba(52, 183, 241, 0.0);
    }
}

/* Nút Zalo (Màu xanh dương) */
@keyframes hoverWaveZalo {

    0% {
        box-shadow: 0 8px 10px rgba(6, 102, 252, 0.3), 0 0 0 0 rgba(6, 102, 252, 0.2);
    }

    40% {
        box-shadow: 0 8px 10px rgba(6, 102, 252, 0.3), 0 0 0 15px rgba(6, 102, 252, 0.2);
    }

    80% {
        box-shadow: 0 8px 10px rgba(6, 102, 252, 0.3), 0 0 0 30px rgba(6, 102, 252, 0), 0 0 0 26.7px rgba(6, 102, 252, 0.067);
    }

    100% {
        box-shadow: 0 8px 10px rgba(6, 102, 252, 0.3), 0 0 0 30px rgba(6, 102, 252, 0), 0 0 0 40px rgba(6, 102, 252, 0.0);
    }

}


@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }

    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }

    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }

    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }

    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }

    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }

    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }

    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }

    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }

    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }

    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }

    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }

    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }

    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }

    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

/* Nút bấm cơ bản */
.btn-call {
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    height: 60px;
    width: 60px;
    text-align: center;
    position: fixed;
    right: 10px;
    z-index: 999;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
}

/* Tạo khoảng cách giữa các nút */
.btn-call:nth-child(1) {
    bottom: 50px;
}

.btn-call:nth-child(2) {
    bottom: 140px;
}

.btn-call:nth-child(3) {
    bottom: 230px;
}

/* Biểu tượng bên trong nút */
.btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    transition: .3s all;
    animation: shake 1200ms ease 0s normal infinite;
    /* Hiệu ứng lắc cho biểu tượng */
}

/* Hiệu ứng khi hover vào nút */
.btn-call {
    background-color: #fff;

}

/* Hiệu ứng khi hover vào biểu tượng */
.btn-call:hover .btn-call__ico {
    color: #0069f5;
    animation: none;
    /* Tắt hiệu ứng lắc khi hover để sóng được rõ ràng */
}

/* Thêm màu cho các nút khác nhau */
.btn-facebook {
    animation: hoverWaveFacebook 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng mặc định */
    background-color: #0666fc
        /* Màu vàng cho nút Facebook */
}

.btn-facebook:hover {
    background-color: #fff;
    animation: hoverWaveFacebook 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng cho nút Facebook */
}

.btn-zalo {
    animation: hoverWaveZalo 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng cho nút Zalo */
    background-color: #1706f1;
    /* Màu xanh dương cho nút Zalo */
}

.btn-zalo:hover {
    color: #0069f5;
    background-color: #fff;
    animation: hoverWaveZalo 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng cho nút Zalo */

}

.btn-call-red {
    animation: hoverWaveCall 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng cho nút Zalo */
    background-color: #05ff26;
    /* Màu đỏ cho nút Call */
}

.btn-call-red:hover {
    background-color: #00ff6a;
    animation: hoverWaveCall 1s ease-in-out infinite;
    /* Áp dụng hiệu ứng sóng cho nút Call */
}

/* Thêm chữ "ZALO" cho nút Zalo */
.btn-zalo .zalo-text {
    font-family: 'Noto Sans', sans-serif;
    /* Áp dụng font Noto Sans */
    color: white;
    /* Màu chữ */
    font-size: 14px;
    /* Kích thước chữ */
    font-weight: 900;
    /* Chữ đậm */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
    /* Tạo bóng chữ mềm mại */


}

/* Thay đổi màu chữ Zalo khi hover vào nút */
.btn-zalo:hover .zalo-text {
    color: #0069f5;
    /* Đổi màu chữ khi hover */
}

.btn-call__ico i {
    font-size: 25px;
    /* Tăng kích thước biểu tượng */
}

.about-experience {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0px;
    left: 0px;
    background-color: #7e2211;
    /* Màu đỏ đậm */
    border-radius: 35px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
    /* Ánh sáng nhẹ quanh box */
    z-index: 1;
    transition: all 0.3s ease-in-out;
    /* Thêm hiệu ứng chuyển động mượt mà */
}

/* Hiệu ứng ánh sáng vàng phát ra từ box */
.about-experience:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 2px;
    width: calc(98%);
    height: calc(100%);
    background: radial-gradient(circle, rgba(255, 223, 0, 0.4), rgba(255, 223, 0, 0));
    border-radius: 35px;
    z-index: -2;
    animation: glow 2s infinite;
}

/* Hiệu ứng ánh sáng di chuyển */
@keyframes glow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.7);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px 10px rgba(255, 223, 0, 1);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 15px 5px rgba(255, 223, 0, 0.7);
    }
}

/* Hiệu ứng hover */
.about-experience:hover {
    transform: scale(1.05);
    /* Tăng kích thước box khi hover */
    box-shadow: 0 0 60px 10px rgb(255 223 0 / 30%);
    /* Tăng cường ánh sáng vàng */
}

/* Lớp phủ mờ để làm nổi bật text */
.hero-overlay {
    position: relative;
    z-index: 2;
}

.hero-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
}

.hero-description a {
    font-size: 18px;
    color: rgb(255 0 0);
    text-decoration: none;
    font-weight: 600;
}

/* Tiêu đề và text */
.hero-sub-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #fff553;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    /* Đổ bóng để text nổi bật */
}

.hero-title span {
    color: #ffeb3b;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.taxi-text {
    display: inline;
    /* Đảm bảo chữ Taxi Điện không ngắt dòng */
}

.location-text {
    display: inline;
    /* Luôn giữ Buôn Ma Thuột cùng một hàng */
    white-space: nowrap;
    /* Không cho phép ngắt dòng */
    font-size: 36px;

    color: #ffeb3b;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
/* TesT table  */
/* Đặt các thuộc tính chung cho bảng */
table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}


@media (max-width: 768px) {
  table {
    width: 100%;
    display: block;
  }

  tbody {
    display: block;
  }

  tr {
    font-size: 12px;
    display: flex;
    flex-direction: row;
  }

  td, th {
    display: block;
    width: 50%;
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
  }

  td.header {
    font-weight: bold;
    text-align: left;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}
/*  */

.btn-about{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
