*{
    font-size: 14px;
    margin: 0 auto;
}
.background{
    background-color: #ffee02;
}
.line i{
    padding-right: 10px;
}
.edit-info{
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sub_title p{
    padding-left: 50px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon_fa i{
    padding-top: 12px;
    padding-bottom: 10px;
}
.line a{
    color: black;
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding:8px 40px;
}
.navbar-header{
    padding-left: 20px;
    margin-right: 80px;
}
.menu a.active{
    border: 3px solid #4bfbfe;
    border-radius: 25px; 
}
.menu_sticky{
    position: sticky;
    top: 0;
    width: 100%;
}
.about-img img{
    width: 576px;
    height: 453px;
}
.about-img{
    z-index: -1;
}
.about-experience{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0px;
    left: 0px;
    background-color: #111111;
    border-radius: 50px;
    padding: 10px 30px 10px 20px;
    color: white;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
    z-index: 1;
}
.about-left{
    position: relative;
}
.about-experience-icon img{
    width: 50px;
    filter: brightness(0) invert(1);
}
.about-experience-icon{
    background-color: #ffb300;
    border-radius: 35px;
    padding:10px
}
.about-area{
    padding:50px 0;
}
.about-box{
    background-color: #ededed;
}
.background-about{
    background-image: url(/images/anh-bia-07.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    position: relative;
    z-index: 2;
}
.title-about{
    padding:100px 0;
    z-index: 2;
}
.background-about::before{
    content: "";
    position: absolute;
    background-color: #01060f;
    width: 100%;
    height: 100%;
    padding: 70px 0;
    z-index: -1;
    opacity: 0.2;
}
.title-about h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 10px;
}.title-about a , .title-about span{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.footer_container {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 40px 0px;
    text-align: center;
}

.footer_link {
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer_link li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 16px;
}

.footer_link li a {
    font-weight: 600;
    font-size: 16px;    
    line-height: 15px;
    color: rgb(255 255 255) !important;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.social_media li {
    display: inline-block;
    padding: 0px 13px;
}

.copyright {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: rgb(255 255 255);
    position: relative;
    margin-top: 30px;
}

.copyright::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    background-color: rgb(255 255 255);
    height: 1px;
    width: 45%;
}
.copyright a {
    color: rgb(255,255,255) !important;
}
.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}
.use-taxi{
    margin-bottom: 100px;
}
.service-title{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 800;
    color: #ffc105 ;
    position: relative;
}

.service-sub-title{
    text-transform: capitalize;
    font-weight: 700;
}
.heading-driver{
    position: relative;
    border: 3px solid #ffb300;
    width: 90px;
    height: 11px;   
    border-radius: 40px;
}
.heading-driver::before{
    content:"";
    position: absolute;
    height: 7px;
    width: 15px;
    background-color: #ffb300;
    border-radius: 50px;
    left: 0;
    top: -1;
    animation: heading 4s infinite linear;
}
@keyframes heading{
    0%{
        transform: translateX(-1px);
    }
    50%{
        transform: translateX(72px)
    }
    100%{
        transform: translateX(-1px);
    }
}
.service-block .inner-box {
    overflow: hidden;
    padding-bottom: 55px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}
.service-block .inner-box::before {
    background-color: #f7f6f2;
    bottom: 0;
    content: "";
    height: 381px;
    left: 100px;
    position: absolute;
    transform: skewX(-20deg);
    width: 200px;
    z-index: -1;
}
.service-block .inner-box .image-box {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 14px;
    position: relative;
}
.service-block .inner-box .image-box:before {
    border: 2px solid #4bfbfe;
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.image-box img{
    width: 315px;
    height: 315px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease;
    z-index: 3;
}
.service-block .inner-box , .image-box img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.edit-service{
    margin-bottom: 30px;
}
.image-box:hover{
    background-color:#4bfbfe;
    transition: all 0.3s ease;
}
.content-why-me{
    font-size: 16px;
}
.choose-item{
    display: flex;
    gap:15px;
    position: relative;
    background-color: white;
    padding:20px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    border-radius: 25px;
    margin-bottom: 30px;
}
.choose-item {
    display: flex;
    gap: 15px;
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    border-radius: 25px;
    margin-bottom: 30px;
}

.choose-count{
    position:absolute;
    right:20px;
    font-size: 50px;
    font-weight: 800;
    top: -8px;
    opacity: 0.6;
}
.choose-item-info p{
    font-size: 16px;
}
.choose-why{
    margin-left: 50px;
}
.ds{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff; /* Màu nền của thanh navbar */
    transition: all 0.5s ease-in-out;
}
.ds{
    position: relative;
    width: 100%;
    min-width: 150vh;
}
.menu-mobile{
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
    background-color: rgb(255 255 255);
    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 24%);
    z-index: 1000;
    padding: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
    animation: slideInMenu 0.5s ease forwards; /* Sử dụng hiệu ứng 'slideInMenu' trong 0.5s  forwards giữ lại kích thước của khối khi animation kết thúc    */
    transform: translateX(-100%); /* Dịch chuyển menu ra khỏi màn hình bên trái */
}
@keyframes slideInMenu {
    from {
        transform: translateX(-100%); /* Bắt đầu từ vị trí -100% (ngoài màn hình bên trái) */
    }
    to {
        transform: translateX(0); /* Kết thúc tại vị trí 0% (đầu trang) */
    }
}
.menu-mobile ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding:0 10px;
}
.menu-mobile a{
    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}
.menu-mobile .toggle_menu{
    position: absolute;
    top:20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav.hide{
    display: none;
}
